# Checking out posts on Hacker News
In this project, I'll be checking Ask HN and Show HN posts to see which ones get more comments. I'll also be determining if posts get more traction at particular times.

In [1]:
from csv import reader
#to read the hn data as a list of lists
opened_file = open('hacker_news.csv')
read_file = reader(opened_file)
hn = list(read_file)
#I want to take a look at the first five rows in the data
for row in hn[:5]:
    print(row)
    print('\n')

['id', 'title', 'url', 'num_points', 'num_comments', 'author', 'created_at']


['12224879', 'Interactive Dynamic Video', 'http://www.interactivedynamicvideo.com/', '386', '52', 'ne0phyte', '8/4/2016 11:52']


['10975351', 'How to Use Open Source and Shut the Fuck Up at the Same Time', 'http://hueniverse.com/2016/01/26/how-to-use-open-source-and-shut-the-fuck-up-at-the-same-time/', '39', '10', 'josep2', '1/26/2016 19:30']


['11964716', "Florida DJs May Face Felony for April Fools' Water Joke", 'http://www.thewire.com/entertainment/2013/04/florida-djs-april-fools-water-joke/63798/', '2', '1', 'vezycash', '6/23/2016 22:20']


['11919867', 'Technology ventures: From Idea to Enterprise', 'https://www.amazon.com/Technology-Ventures-Enterprise-Thomas-Byers/dp/0073523429', '3', '1', 'hswarna', '6/17/2016 0:01']

In [2]:
#I want to save the header row seperately
headers = hn[0]
hn1 = hn[1:]
print(headers)
print('\n')
#this is to make sure the header row is gone. 
#I'm using a loop so I can pot a space after each row and 
#it can be more legible
for row in hn1[:5]:
    print(row)
    print('\n')

['id', 'title', 'url', 'num_points', 'num_comments', 'author', 'created_at']


['12224879', 'Interactive Dynamic Video', 'http://www.interactivedynamicvideo.com/', '386', '52', 'ne0phyte', '8/4/2016 11:52']


['10975351', 'How to Use Open Source and Shut the Fuck Up at the Same Time', 'http://hueniverse.com/2016/01/26/how-to-use-open-source-and-shut-the-fuck-up-at-the-same-time/', '39', '10', 'josep2', '1/26/2016 19:30']


['11964716', "Florida DJs May Face Felony for April Fools' Water Joke", 'http://www.thewire.com/entertainment/2013/04/florida-djs-april-fools-water-joke/63798/', '2', '1', 'vezycash', '6/23/2016 22:20']


['11919867', 'Technology ventures: From Idea to Enterprise', 'https://www.amazon.com/Technology-Ventures-Enterprise-Thomas-Byers/dp/0073523429', '3', '1', 'hswarna', '6/17/2016 0:01']


['10301696', 'Note by Note: The Making of Steinway L1037 (2007)', 'http://www.nytimes.com/2007/11/07/movies/07stein.html?_r=0', '8', '2', 'walterbell', '9/30/2015 4:12']

In [3]:
#I want to filter my data and keep only 
#posts relating to Ask HN or Show HN
#I'll create 3 new list of lists for that
ask_posts = []
show_posts = []
other_posts = []
for row in hn1:
    #the title of each post will tell if its Ask HN, Show HN or others
    title = row[1]
    title_lower = title.lower()
    if title_lower.startswith('ask hn'):
        ask_posts.append(row)
    elif title_lower.startswith('show hn'):
        show_posts.append(row)
    else:
        other_posts.append(row)
print(len(ask_posts))
print(len(show_posts))
print(len(other_posts))
print(len(hn1))
#the total should be 20,000
print((len(ask_posts) + len(show_posts) + len(other_posts)))

1744
1162
17194
20100
20100

In [4]:
#I want to inspect the first five Ask HN posts
for row in ask_posts[:5]:
    print(row)
    print('\n')
# I now want to look at the first five rows of show_posts
print('these are show posts')
for row in show_posts[:5]:
    print(row)
    print('\n')

['12296411', 'Ask HN: How to improve my personal website?', '', '2', '6', 'ahmedbaracat', '8/16/2016 9:55']


['10610020', 'Ask HN: Am I the only one outraged by Twitter shutting down share counts?', '', '28', '29', 'tkfx', '11/22/2015 13:43']


['11610310', 'Ask HN: Aby recent changes to CSS that broke mobile?', '', '1', '1', 'polskibus', '5/2/2016 10:14']


['12210105', 'Ask HN: Looking for Employee #3 How do I do it?', '', '1', '3', 'sph130', '8/2/2016 14:20']


['10394168', 'Ask HN: Someone offered to buy my browser extension from me. What now?', '', '28', '17', 'roykolak', '10/15/2015 16:38']


these are show posts
['10627194', 'Show HN: Wio Link  ESP8266 Based Web of Things Hardware Development Platform', 'https://iot.seeed.cc', '26', '22', 'kfihihc', '11/25/2015 14:03']


['10646440', 'Show HN: Something pointless I made', 'http://dn.ht/picklecat/', '747', '102', 'dhotson', '11/29/2015 22:46']


['11590768', 'Show HN: Shanhu.io, a programming playground powered by e8vm', 'https://shanhu.io', '1', '1', 'h8liu', '4/28/2016 18:05']


['12178806', 'Show HN: Webscope  Easy way for web developers to communicate with Clients', 'http://webscopeapp.com', '3', '3', 'fastbrick', '7/28/2016 7:11']


['10872799', 'Show HN: GeoScreenshot  Easily test Geo-IP based web pages', 'https://www.geoscreenshot.com/', '1', '9', 'kpsychwave', '1/9/2016 20:45']

In [5]:
#I'm trying to get the total number of comments that ask posts got
total_ask_comments = 0
for row in ask_posts:
    num_comments = float(row[4])
    total_ask_comments += num_comments
print('The total number of comments on ask posts is', str(total_ask_comments))
print('\n')

The total number of comments on ask posts is 24483.0

In [6]:
#recall that there are 1744 ask posts. Now, to find average
avg_ask_comments = round(total_ask_comments/1744)
print('the average number of comments on ask posts is', avg_ask_comments)

the average number of comments on ask posts is 14

In [7]:
#I'm trying to get the total number of comments that show posts got
total_show_comments = 0
for row in show_posts:
    num_comments = float(row[4])
    total_show_comments += num_comments
print('The total number of comments on show posts is', str(total_show_comments))

The total number of comments on show posts is 11988.0

In [8]:
#recall that there are 1162 show posts. Now, to find average
avg_show_comments = round(total_show_comments/1162)
print('the average number of comments on show posts is', avg_show_comments)

the average number of comments on show posts is 10

From the results above we can see that:
1. Ask HN posts get an average of 14 comments
2. Show HN posts get an average of 10 comments

Hence, Ask HN posts receive more comments

# To determine if there are times when posts get more comments
Because Ask HN posts attract more comments, I'll analyse just them to determine if there are favourable posting times.
I'll first calculate how many Ask HN posts are made for each hour of the day.

In [9]:
import datetime as dt
result_list = []
for row in ask_posts:
    created_at = row[6]
    num_comments = int(row[4])
    time_and_number = [created_at, num_comments]
    result_list.append(time_and_number)
print(result_list[:3])

[['8/16/2016 9:55', 6], ['11/22/2015 13:43', 29], ['5/2/2016 10:14', 1]]

In [10]:
import datetime as dt
counts_by_hour = {}
comments_by_hour = {}
for row in result_list:
    time = row[0]
    time = dt.datetime.strptime(time, "%m/%d/%Y %H:%M")
    hour = dt.datetime.strftime(time, '%H')
    comment = row[1]
    if hour not in counts_by_hour:
        counts_by_hour[hour] = 1
    else:
        counts_by_hour[hour] += 1
    if hour not in comments_by_hour:
        comments_by_hour[hour] = comment
    else:
        comments_by_hour[hour] += comment
print(counts_by_hour)
print('\n')
print(comments_by_hour)

{'20': 80, '16': 108, '14': 107, '00': 55, '02': 58, '23': 68, '06': 44, '08': 48, '11': 58, '17': 100, '01': 60, '05': 46, '07': 34, '22': 71, '15': 116, '13': 85, '21': 109, '19': 110, '18': 109, '09': 45, '12': 73, '04': 47, '10': 59, '03': 54}


{'20': 1722, '16': 1814, '14': 1416, '00': 447, '02': 1381, '23': 543, '06': 397, '08': 492, '11': 641, '17': 1146, '01': 683, '05': 464, '07': 267, '22': 479, '15': 4477, '13': 1253, '21': 1745, '19': 1188, '18': 1439, '09': 251, '12': 687, '04': 337, '10': 793, '03': 421}

In [11]:
#to find the average number of comments by hour
avg_by_hour = []
for hour in comments_by_hour:
    avg = round(comments_by_hour[hour]/counts_by_hour[hour])
    hour_avg = [hour, avg]
    avg_by_hour.append(hour_avg)
print(avg_by_hour)

[['20', 22], ['16', 17], ['14', 13], ['00', 8], ['02', 24], ['23', 8], ['06', 9], ['08', 10], ['11', 11], ['17', 11], ['01', 11], ['05', 10], ['07', 8], ['22', 7], ['15', 39], ['13', 15], ['21', 16], ['19', 11], ['18', 13], ['09', 6], ['12', 9], ['04', 7], ['10', 13], ['03', 8]]

In [12]:
#I'm just swapping the elements in each row to make the avg number of comments come first
swap_avg_by_hour = []
for row in avg_by_hour:
    swap_row = [row[1], row[0]]
    swap_avg_by_hour.append(swap_row)
print(swap_avg_by_hour)

[[22, '20'], [17, '16'], [13, '14'], [8, '00'], [24, '02'], [8, '23'], [9, '06'], [10, '08'], [11, '11'], [11, '17'], [11, '01'], [10, '05'], [8, '07'], [7, '22'], [39, '15'], [15, '13'], [16, '21'], [11, '19'], [13, '18'], [6, '09'], [9, '12'], [7, '04'], [13, '10'], [8, '03']]

In [13]:
#I'm sorting the data in descending order
sorted_avg_by_hour = sorted(swap_avg_by_hour, reverse = True)
for data in sorted_avg_by_hour:
    print(data)
    print('\n')

[39, '15']


[24, '02']


[22, '20']


[17, '16']


[16, '21']


[15, '13']


[13, '18']


[13, '14']


[13, '10']


[11, '19']


[11, '17']


[11, '11']


[11, '01']


[10, '08']


[10, '05']


[9, '12']


[9, '06']


[8, '23']


[8, '07']


[8, '03']


[8, '00']


[7, '22']


[7, '04']


[6, '09']

In [14]:
print('Top 5 Hours for Ask Posts Comments')
for row in sorted_avg_by_hour[:5]:
    template = "{0}:00: {1} average comments per posts"
    print(template.format(row[1], row[0]))

Top 5 Hours for Ask Posts Comments
15:00: 39 average comments per posts
02:00: 24 average comments per posts
20:00: 22 average comments per posts
16:00: 17 average comments per posts
21:00: 16 average comments per posts

# Top 5 Hours for Ask Posts Comments
From the above, we can see that the best hours for making Ask HN posts are 15:00, 2:00, 20:00, 16:00 and 21:00 (all eastern US time, GMT -4). 
For Nigerians (GMT +1), the best times would be:

20:00: 39 average comments per posts,

07:00: 24 average comments per posts,

01:00: 22 average comments per posts,

21:00: 17 average comments per posts,

02:00: 16 average comments per posts